<div id="featured-category">
  <header>
    <h1>{{ page.featured_category.title }}</h1>
  </header>
  <div>
    <section class="featured-article">
      {% assign featured_category = site.categories[page.featured_category.category] %}
      {% for post in featured_category limit:1 %}
        {% include post_summary.html post=first_post %}
      {% endfor %}
    </section>
    <section class="recent-articles">
      {% for post in featured_category offset:1 limit:2 %}
        {% include post_summary.html post=post %}
      {% endfor %}
    </section>
    <section class="older-articles">
      {% for post in featured_category offset:3 limit:8 %}
        {% include post_summary.html post=post %}
      {% endfor %}
    </div>
  </div>
</div>
  