@import "bootstrap/bootstrap";

/* Code highlighting styles */

.highlight .hll { background-color: #ffffcc }
.highlight  { background: #ffffff; }
.highlight .c { color: #888888 } /* Comment */
.highlight .err { color: #FF0000; background-color: #FFAAAA } /* Error */
.highlight .k { color: #008800; font-weight: bold } /* Keyword */
.highlight .o { color: #333333 } /* Operator */
.highlight .ch { color: #888888 } /* Comment.Hashbang */
.highlight .cm { color: #888888 } /* Comment.Multiline */
.highlight .cp { color: #557799 } /* Comment.Preproc */
.highlight .cpf { color: #888888 } /* Comment.PreprocFile */
.highlight .c1 { color: #888888 } /* Comment.Single */
.highlight .cs { color: #cc0000; font-weight: bold } /* Comment.Special */
.highlight .gd { color: #A00000 } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #FF0000 } /* Generic.Error */
.highlight .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: #00A000 } /* Generic.Inserted */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #c65d09; font-weight: bold } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.highlight .gt { color: #0044DD } /* Generic.Traceback */
.highlight .kc { color: #008800; font-weight: bold } /* Keyword.Constant */
.highlight .kd { color: #008800; font-weight: bold } /* Keyword.Declaration */
.highlight .kn { color: #008800; font-weight: bold } /* Keyword.Namespace */
.highlight .kp { color: #003388; font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { color: #008800; font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #333399; font-weight: bold } /* Keyword.Type */
.highlight .m { color: #6600EE; font-weight: bold } /* Literal.Number */
.highlight .s { background-color: #fff0f0 } /* Literal.String */
.highlight .na { color: #0000CC } /* Name.Attribute */
.highlight .nb { color: #007020 } /* Name.Builtin */
.highlight .nc { color: #BB0066; font-weight: bold } /* Name.Class */
.highlight .no { color: #003366; font-weight: bold } /* Name.Constant */
.highlight .nd { color: #555555; font-weight: bold } /* Name.Decorator */
.highlight .ni { color: #880000; font-weight: bold } /* Name.Entity */
.highlight .ne { color: #FF0000; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #0066BB; font-weight: bold } /* Name.Function */
.highlight .nl { color: #997700; font-weight: bold } /* Name.Label */
.highlight .nn { color: #0e84b5; font-weight: bold } /* Name.Namespace */
.highlight .nt { color: #007700 } /* Name.Tag */
.highlight .nv { color: #996633 } /* Name.Variable */
.highlight .ow { color: #000000; font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mb { color: #6600EE; font-weight: bold } /* Literal.Number.Bin */
.highlight .mf { color: #6600EE; font-weight: bold } /* Literal.Number.Float */
.highlight .mh { color: #005588; font-weight: bold } /* Literal.Number.Hex */
.highlight .mi { color: #0000DD; font-weight: bold } /* Literal.Number.Integer */
.highlight .mo { color: #4400EE; font-weight: bold } /* Literal.Number.Oct */
.highlight .sa { background-color: #fff0f0 } /* Literal.String.Affix */
.highlight .sb { background-color: #fff0f0 } /* Literal.String.Backtick */
.highlight .sc { color: #0044DD } /* Literal.String.Char */
.highlight .dl { background-color: #fff0f0 } /* Literal.String.Delimiter */
.highlight .sd { color: #DD4422 } /* Literal.String.Doc */
.highlight .s2 { background-color: #fff0f0 } /* Literal.String.Double */
.highlight .se { color: #666666; font-weight: bold; background-color: #fff0f0 } /* Literal.String.Escape */
.highlight .sh { background-color: #fff0f0 } /* Literal.String.Heredoc */
.highlight .si { background-color: #eeeeee } /* Literal.String.Interpol */
.highlight .sx { color: #DD2200; background-color: #fff0f0 } /* Literal.String.Other */
.highlight .sr { color: #000000; background-color: #fff0ff } /* Literal.String.Regex */
.highlight .s1 { background-color: #fff0f0 } /* Literal.String.Single */
.highlight .ss { color: #AA6600 } /* Literal.String.Symbol */
.highlight .bp { color: #007020 } /* Name.Builtin.Pseudo */
.highlight .fm { color: #0066BB; font-weight: bold } /* Name.Function.Magic */
.highlight .vc { color: #336699 } /* Name.Variable.Class */
.highlight .vg { color: #dd7700; font-weight: bold } /* Name.Variable.Global */
.highlight .vi { color: #3333BB } /* Name.Variable.Instance */
.highlight .vm { color: #996633 } /* Name.Variable.Magic */
.highlight .il { color: #0000DD; font-weight: bold } /* Literal.Number.Integer.Long */

body {
  font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
}

code {
  font-family: 'Source Code Pro', monospace;
}

#home-jumbotron {
  display: none;
}

@include media-breakpoint-up(md) {
  #home-jumbotron {
    display: block;
    position: relative;
    height: 600px;
    padding: 0;
  
    .img {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      background-image: url('/images/cover.jpg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 100%;
      width: 100%;
      opacity: 0.4;
    }
  
    .container {
      position: relative;
      z-index: 2;
      padding-top: 450px;
    }
  }
}

body > footer {
  margin-top: $grid-gutter-width;
  padding-top: $grid-gutter-width;
  border-top: 1px solid $gray-300;
}

#latest-story, #featured-category, #featured-story {
  margin: $grid-gutter-width 0;

  > header > h1 {
    font-size: $font-size-base * 1.5;
    border-bottom: 1px solid $gray-300;
  }
}

.post-summary .cover-photo img {
  width: 100%;
}

#featured-category .older-articles {
  display: none;
}

.post {
  header {
    .cover-photo {
      text-align: center;
  
      div {
        height: 400px;
        max-height: 400px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      }
    }

    .post-info {
      .author {
        font-weight: bold;
      }

      time {
        font-weight: lighter;
      }
    }
  }

  img {
    max-width: 100%;
  }

  .related-posts {
    display: none;
  }
}

@include media-breakpoint-up(sm) {
  .post-summary {
    display: flex;
    flex-direction: row;

    .cover-photo {
      flex: 1;
      margin-right: $grid-gutter-width;
    }

    .summary {
      flex: 2;
    }
  }

  #featured-category > div {
    display: grid;
    column-gap: $grid-gutter-width;
    row-gap: 1em;
    grid-template-columns: 1fr;

    .recent-articles {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: $grid-gutter-width;

      h1 {
        font-size: $font-size-base * 1.5;
      }
    }
  }

  body > footer > .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin: 0 10px;

    .contact {
      grid-column: 3;
      text-overflow: ellipsis;
      white-space: nowrap;
      display: block;
    }
  }
}

@include media-breakpoint-up(md) {
  #featured-category > div {
    display: grid;
    column-gap: $grid-gutter-width;
    row-gap: 1em;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
      "f o"
      "r o";

    .featured-article {
      grid-area: f;
    }

    .recent-articles {
      grid-area: r;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: $grid-gutter-width;

      h1 {
        font-size: $font-size-base * 1.5;
      }
    }

    .older-articles {
      grid-area: o;
      display: block;

      h1 {
        font-size: $font-size-base * 1.25;
      }

      .excerpt {
        display: none;
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  .post {
    .content-container {
      display: flex;
      flex-direction: row;
    
      .content {
        flex: 3;
      }

      .related-posts {
        flex: 1;
        display: block;
        margin-left: $grid-gutter-width;

        > header > h1 {
          font-size: $font-size-base * 1.5;
        }

        .related-post {
          h1 {
            font-size: $font-size-base;
          }

          p {
            font-size: $font-size-base * 0.75;
          }
        }
      }
    }
  }
}

#recent-posts {
  margin: $grid-gutter-width 0;

  > header > h1 {
    font-size: $font-size-base * 1.5;
    border-bottom: 1px solid $gray-300;
  }

  .summary > h1 {
    font-size: $font-size-base * 1.5;
  }
}

@include media-breakpoint-up(md) {
  #recent-posts > div {
    display: grid;
    grid-gap: $grid-gutter-width;
    grid-template-columns: repeat(2, 1fr);
  }
}

.post-list .post-summary {
  margin: $grid-gutter-width 0;
}
