---
layout: default
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, shrink-to-fit=no">
    <title>{{ page.title }} - {{ site.title }}</title>
    {% include font_awesome.html %}
    <link rel="stylesheet" href="/assets/css/styles.css" media="screen">
    {% include rss_feed_meta.html %}
    {% feed_meta %}
    {% include google_analytics.html %}
  </head>
  <body>
    <header>
      {% include navigation_bar.html %}
    </header>
    <main>
      <article class="post">
        <header>
          {% assign cover_photo_url = page.cover_photo.url | default: page.cover_photo | default: nil %}
          {% if cover_photo_url %}
            <div class="cover-photo">
              <div style="background-image: url('{{ cover_photo_url }}');"></div>
              {% if page.cover_photo.attribution %}
                <caption>{{ page.cover_photo.attribution }}</caption>
              {% endif %}
            </div>
          {% endif %}
          <h1>{{ page.title }}</h1>
          <p class="post-info">
            <span class="author">{{ page.author.name | default: page.author | default: site.author.name | default: site.author }}</span><br>
            <time datetime="{{ page.date | date:'%Y-%m-%d' }}">{{ page.date | date:'%B %d, %Y' }}</time>
          </p>
        </header>
        <div class="content-container">
          <div class="content">
            {{content}}
          </div>
          <aside class="related-posts">
            <header>
              <h1>Other Articles</h1>
            </header>
            {% for related_post in site.related_posts %}
              {% include post_summary.html post=related_post %}
            {% endfor %}
          </aside>
        </div>
      </article>
      <footer>
        {% include disqus_comments.html %}
      </footer>
    </main>
    <footer>
      {% include footer.html %}
    </footer>
    {% include bootstrap_javascript.html %}
  </body>
</html>
